* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #0056b3;
    color: #ffffff;
    padding: 15px;
    margin: 30px;
}

.work-page {
    padding: 15px;
    margin: 15px;
}

.btn-std-default {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-std-info {
    background-color: lightgoldenrodyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-std-card {
    background-color: lightgoldenrodyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    outline: none;
}

.work-page {
    width: 800px;
}

.task-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    background-color: #0b2e13;
    color: white;
    align-items: center;
}

.task-title-text {
    display: table-cell;
    font-family: "Book Antiqua", serif;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
}

.selector-box {
    flex-direction: column;
    background-color: #0c5460;
}

.selector-question {
    margin: 5px;
    padding: 10px;

    text-align: right;
    vertical-align: middle;
    color: #fff3cd;
}

.selector-answers {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff3cd;
    border: 1px #ffe8a1 solid;
}

.card {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: #ffe8a1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    vertical-align: middle;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

